.contents {
  max-width: 980px;
  margin: 0 auto;
}

header {
  margin-bottom: 5rem;
}

.flex {
  display: flex;
}

.stats {
  display: flex;
  padding: 1rem 1.5rem;
}

.social-list {
  margin-top: 1rem;
  text-align: center;
}

.character-details {
  margin-left: 4rem;
}

.stat-name {
  margin-right: 1rem;
}
