body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat-container {
  max-width: 800px;
  margin: auto !important;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}
